body {
  background-image: url("https://i.ytimg.com/vi/LEKgHLxcFxM/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  color: white;
}
